:root {
  --primary-color: hsl(217, 91%, 60%);
  --secondary-color: hsl(171, 66%, 44%);
  --background-color: hsl(210, 36%, 96%);
  --text-color: hsl(230, 15%, 25%);
  --border-radius: 8px;
}

/* Mode sombre */
.dark-mode {
  --primary-color: hsl(217, 91%, 40%);
  --secondary-color: hsl(171, 66%, 34%);
  --background-color: hsl(210, 36%, 10%);
  --text-color: hsl(230, 15%, 85%);
}
